:root{
  --jeans: #569FF5;
  --jeansLight: #3675BF;
  --jeansDark: #99C8FF;

  --pink: #FF6AB2;
  --pinkHot: #ED3A90;
  --pinkLight: #FF99CA;

  --yellow: #FDE82F;

}

h1{
  font-family: "Just Another Hand";
  font-size: 10vh;
  font-weight: bold;
  margin: 20px 20px 20px 20px;
}

h2{
  font-family: "Jost";
  font-weight: bold;
}

p{
  font-family: "Jost";
}

/*links*/
a{
  color: #569FF5;
}
#about{
  margin: 30px 50px 30px 50px;
}

#pages{
  margin: 50px 50px 50px 100px;
}

button{
  background-color: var(--jeans);
  color: white;
}

button:hover{
  background-color: var(--pink);
}

button:active{}
