:root{
  --black: #000000;
  --hotRedPink: #EB256B;
  --purpleMed: #503f90;
  --purpleLight: #a087ff;
  --blue: #3F69FF;
  --greyPurple: #6D657E;
}

body{
  background-color: var(--black);
}

h1{
  font-family: "Caveat";
  font-size: 48px;
  color: var(--hotRedPink);
}

h2{
  font-family: "Caveat";
  font-size: 30px;
  color: var(--hotRedPink);
}

p{
  font-family: "Roboto Condensed";
  font-weight: lighter;
  color: var(--hotRedPink);
}

hr{
  color: var(--purpleMed);
  border: 1px solid;
}

a{
  color: var(--purpleLight);
  font-family: "Caveat";
  font-size: 22px;
}

a:hover{
  color: var(--blue);
}

a:visited{
  color: var(--greyPurple);
}

.summary{
  margin: 0vh 10vw 0vh 10vw;
}

.title{
  text-align: center;
}

.embed{
  display: block;
  margin: 0 auto;
}

#bottombar{
  text-align: center;
}
